In [7]:
import os
import pandas as pd

In [3]:
os.getcwd()

'c:\\Users\\phili\\OneDrive\\Documents\\Programmation\\Formations_JEDHA\\Data_Essentials_Preparation\\Prep_Work\\Intro_to_Python\\panda_training'

In [8]:

MyDir = os.getcwd()
type(MyDir)
print(MyDir)
MyDir = MyDir.replace("\\", "/")
print(MyDir)

c:\Users\phili\OneDrive\Documents\Programmation\Formations_JEDHA\Data_Essentials_Preparation\Prep_Work\Intro_to_Python\panda_training
c:/Users/phili/OneDrive/Documents/Programmation/Formations_JEDHA/Data_Essentials_Preparation/Prep_Work/Intro_to_Python/panda_training

In [3]:
# MyPath = "c:\\Users\\phili\\OneDrive\\Documents\\Formations JEDHA\\Data Essential - Sept 2023\\Prep Work\\Intro to Python\\panda training"

In [10]:
data = pd.read_csv(MyDir + "/assets/covid-19.csv")
data.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [12]:
# Bcp plus simple
df = pd.read_csv("./assets/covid-19.csv")
df.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe